<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <style>
            table {
            border-collapse: collapse;
            width: 100%;
            }

            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            }

            tr:nth-child(even) {
            background-color: #dddddd;
            }

            #weather {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>Day</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Weather</th>
                <th>Wind</th>
            </tr>
            {% for weather in weather_data %}
                <tr>
                    <td>{{ weather.dayname }}, {{ weather.date }}</td>
                    <td>High: {{ weather.temp_max }}°F Low: {{ weather.temp_min }}°F</td>
                    <td>{{ weather.humidity }}%</td>
                    <td><div id="weather"><img src="https://openweathermap.org/img/w/{{ weather.icon }}.png"></img> {{ weather.main }}</div></td>
                    <td>{{ '%.2f' % (weather.wind) }} mph</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>